name: Docker build and push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Show event context
        run: |
          echo "event_name=${{ github.event_name }}"
          echo "ref=${{ github.ref }}"
          echo "repo=${{ github.repository }}"

      - name: Check secrets present (no leak)
        env:
          U: ${{ secrets.DOCKERHUB_USERNAME }}
          T: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          if [ -z "$U" ]; then echo "DOCKERHUB_USERNAME is EMPTY"; exit 1; fi
          if [ -z "$T" ]; then echo "DOCKERHUB_TOKEN is EMPTY"; exit 1; fi
          echo "Secrets are present"
      

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dockerex:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/dockerex:${{ github.sha }}
